<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <h1>{{title}}</h1>
        <!-- @keyup.enter == v-on:keyup.enter -->
        <input type="text" v-model="newFruit" @keyup.enter="addFruit">
        <!-- @click == v-on:click -->
        <button @click="addFruit">Add</button>
        <ul>
            <li v-for="fruit of fruits">
                <input type="number" v-model.number="fruit.stock" style="width: 30px">
                {{fruit.name}}
                <button @click="fruit.stock++">+</button>
                <span v-if="fruit.stock === 0"> - Sin stock</span>
            </li>
        </ul>
        <h4>TOTAL: {{totalFruits}}</h4>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>
</html>