<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <h1>{{title}}</h1>
        <input type="text" v-model="newFrut" @keyup.enter="addFrut">
        <button @click="addFrut">Agregar</button>
        <ul>
            <li v-for="frut of fruts">
                <input type="number" v-model="frut.stock" style="width: 30px">
                {{frut.name}} - {{frut.stock}}
                <span v-if="frut.stock === 0"> - Sin stock</span>
            </li>
        </ul>
    </div>


    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>
</html>